html {color: white;
    font-family: "archivo-extra-condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
    letter-spacing: .8px;}

body {background-color: #434345;
        margin: 0;
        margin-bottom: 5%;}

body.home {background-color: black;}

body.stats div {text-align: center;}

header {display: flex;
        margin: 0;
        background-color: #da2218;
        margin-bottom: 5%;}

nav {white-space: nowrap;
    text-decoration: none;
    font-weight: 500;
    margin-top: 2.5%;}

nav a {margin-left: 5%;
    color: white;
    text-decoration: none;}

h1 {margin-left: 8%;
    font-family: "archivo-extra-condensed", sans-serif;
    font-weight: 800;
    font-style: italic;}

p {
    margin-right: auto;
    margin-left: auto;
    font-size: 14pt;}

h3 {margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: 26pt;
    font-weight: 900;
    font-style: italic;
    padding-bottom: 1%;
    color: #f2443b;
    border-bottom: white;
    border-left: #43434500;
    border-right: #43434500;
    border-top: #43434500;
    border-style: solid;
    border-width: 5px;}

h4 {margin-right: 15%;
    margin-left: 0;
    font-size: 20pt;
    font-weight: 900;
    padding-bottom: 1%;
    border-bottom: #da2218;
    border-left: #43434500;
    border-right: #43434500;
    border-top: #43434500;
    border-style: solid;
    border-width: 3px;}

strong {font-size: 15pt;
        color: #f2443b;
        font-weight: 700;}

p a {color: #f2443b;
    text-decoration: none;
    font-weight: 500;}

.flag {padding-top: 10%;
        opacity: 30%;}


div.columns {display: flex;
            padding: 0 3%;}

div.text {width: 60%;
            padding:0 2.5%;}


div.text img {width: 100%;}

div.img-left,div.img-right {width: 20%;}

div.img-left img, div.img-right img {width: 100%;
            }

p.quote {margin-left: 12%;
        margin-right:9%;
        font-weight: 500;
        font-size: 14pt;}

figure {margin: 0;
        background-color: #434345;
        padding: 4%;}


figure.grey {margin: 0;
        background-color: #29292b;
        padding: 4%;}

div.podiums img {margin-bottom: 0;
                padding-bottom: 0;
                max-width: 60%;
                display: block;
                margin-left: auto;
                margin-right: auto;}
    

@media (max-width: 700px) {
    
    
    div.columns {flex-direction: column;} 

    div.columns > div {width: 80%;}
    
    
}

@media (max-width: 820px) {
    
nav.desktop {display: none;}

nav.mobil {margin-left: 10%;
            margin-top: 6%;
            display: flex;
            flex-direction: column;}
    
    
}

@media (min-width: 820px) {
    
    nav.mobil {display: none;}
        
        
    }


